<div class="container-fluid">

  <br>
  <h1>Pipes</h1>
  <hr>
  <br>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Resultado</th>
      </tr>
    </thead>

    <tbody>
      <!--  Upper and Lower  -->
      <tr>
        <td>{{ nombre }}</td>
        <td>uppercase</td>
        <td>{{ nombre | uppercase }}</td>
      </tr>
      <tr>
        <td>{{ nombre }}</td>
        <td>lowercase</td>
        <td>{{ nombre | lowercase }}</td>
      </tr>

      <!--  Slice  -->
      <tr>
        <td>{{ nombre }}</td>
        <td>slice:3</td>
        <td>{{ nombre | slice:3 }}</td>
      </tr>
      <tr>
        <td>{{ nombre }}</td>
        <td>slice:0:3</td>
        <td>{{ nombre | slice:0:3 }}</td>
      </tr>
      <tr>
        <td>{{ arreglo }}</td>
        <td>slice:1:5</td>
        <td>{{ arreglo | slice:1:5 }}</td>
      </tr>

      <!--  number  -->
      <tr>
        <td>{{ PI }}</td>
        <td>number</td>
        <td>{{ PI | number }}</td>
      </tr>
      <tr>
        <td>{{ PI }}</td>
        <td>number:'3.0-0'</td>
        <td>{{ PI | number:'3.0-0' }}</td>
      </tr>
      <tr>
        <td>{{ PI }}</td>
        <td>number:'1.0-2'</td>
        <td>{{ PI | number:'1.0-2' }}</td>
      </tr>
      <tr>
        <td>{{ PI }}</td>
        <td>number:'1.3-5'</td>
        <td>{{ PI | number:'1.3-5' }}</td>
      </tr>

      <!--  percent  -->
      <tr>
        <td>{{ a }}</td>
        <td>percent</td>
        <td>{{ a | percent }}</td>
      </tr>
      <tr>
        <td>{{ a }}</td>
        <td>percent:'2.2-2'</td>
        <td>{{ a | percent:'2.2-2' }}</td>
      </tr>

      <!--  currency  -->
      <tr>
        <td>{{ costo }}</td>
        <td>currency</td>
        <td>{{ costo | currency }}</td>
      </tr>
      <tr>
        <td>{{ costo }}</td>
        <td>currency:'MXN'</td>
        <td>{{ costo | currency:'MXN' }}</td>
      </tr>
      <tr>
        <td>{{ costo }}</td>
        <td>currency:'EUR'</td>
        <td>{{ costo | currency:'EUR' }}</td>
      </tr>
      <tr>
        <td>{{ costo }}</td>
        <td>currency:'MXN':'symbol-narrow':'5.0-0'</td>
        <td>{{ costo | currency:'MXN':'symbol-narrow':'5.0-0' }}</td>
      </tr>

      <!--  async  -->
      <!-- <tr>
        <td>{{ promise }}</td>
        <td>async</td>
        <td>{{ promise | async }}</td>
      </tr> -->

      <!--  capitalizar  -->
      <tr>
        <td>{{ frase }}</td>
        <td>capitalizado</td>
        <td>{{ frase | capitalizado }}</td>
      </tr>
    </tbody>
  </table>

  <br> <br>
  <h4>Slice (ngFor)</h4>
  <hr>

  <ul class="list-group">
    <li *ngFor="let item of arreglo | slice:5:20" class="list-group-item">{{ item }}</li>
  </ul>

  <br> <br>
  <h4>JSON</h4>
  <hr>

  {{ directorio }} <br>
  {{ directorio | json }}
  <pre>{{ directorio | json }}</pre>

</div>